<div *ngIf="nameRoute !== 'reported'" class="light container__navbar__home">  
    <mat-toolbar  class="container__navbar" color="accent"  fxLayoutAlign="space-between center" >
        <div class="container__navbar__logotext" fxLayout="row">
            <div class="container__navbar__logo" fxLayout="row" fxFlexAlign="center center" fxHide.lt-md="true" fxShow.gt-sm="true">
                <img src="assets/images/Logo.png" alt="">
            </div>
            <div class="container__navbar__logo" fxLayout="row" fxFlexAlign="center center" fxShow.lt-md="true" fxHide.gt-sm="true">
                <img src="assets/images/logo-img.png" alt="">
            </div>
            <div class="container__navbar__title" fxLayoutAlign="center center" fxShow.lt-md="true" fxHide.gt-sm="true">
                <label for="section">{{nameRoute | titlecase }}</label>
                <!-- <img src="assets/images/ocra-text.png" alt=""> -->
            </div>            
        </div>      

        
        <div class="container__navbar__options" fxLayout="row" fxShow.sm="false" fxShow.xs="false" fxLayoutAlign="space-between center">
            <ul fxLayout="row" fxLayoutAlign="space-around none" fxFill>
                <li routerLinkActive="active" >
                    <a [routerLink]='["/inicio"]'  >INICIO</a>

                </li>
                <li routerLinkActive="active">

                    <a [routerLink]='["/select"]'  >CONSULTAS</a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]='["/autocomplete"]' >LOTES</a>

                </li>
                <li routerLinkActive="active">
                    <a [routerLink]='["/chips"]' >REPORTES</a>

                </li>
                <li routerLinkActive="active">
                    <a [routerLink]='["/administracion"]' >ADMINISTRACIÓN</a>

                </li>
            </ul>
        </div>

        <div class="container__navbar__actions" fxLayout="row" fxLayoutAlign="start center" >
            <button mat-icon-button (click)="openDialog()">
                <mat-icon>
                    search
                </mat-icon>
                
            </button>
            <button mat-icon-button (click)="openDialog2()">
                <mat-icon class="material-icons-outlined" matBadge="15" matBadgeColor="warn">
                    notifications
                </mat-icon>
            </button>
            <button mat-icon-button (click)="openDialog3()">
                <label fxHide.lt-md="true" fxShow.gt-sm="true">Salir</label>
                <mat-icon >
                    logout
                </mat-icon>
            </button>
        </div>
    </mat-toolbar>

</div>

<div class="light container__navbar__vehicle"  *ngIf="nameRoute === 'reported'" >
    <mat-toolbar class="container__navbar__vehicle__toolbar" color="accent"  fxLayoutAlign="space-between center">
        <div class="container__navbar__vehicle__toolbar__title">
            <label for="title">Alta de Robo o Abuso de Confianza</label>
        </div>

        <div (click)="back()"  class="container__navbar__vehicle__close" fxLayoutAlign="space-between center">
            <button mat-icon-button class="container__navbar__vehicle__close__button" fxLayoutAlign="center center">
                <mat-icon> close </mat-icon>
            </button>
            <label  class="container__navbar__vehicle__close__label" for="close-text" fxShow.lt-md="false" fxShow.gt-sm="true" >Cerrar</label>
        </div>
    </mat-toolbar>
</div>