.container__navbar__dekstop{
    // height: 10%;

    .container__navbar{
        .container__logo{
            font-size: 24px !important;
            width: 10%;
        }
        .container__options{
            width: 60%;
            ul{
                list-style: none;
                li{
                    a{
                        width: 20%;
                        text-decoration: none;
                        text-align: center;
                        letter-spacing: 1px;
                        color: #666666;
                        font-family: Quicksand;
                        font-style: normal;
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 16px;
                    }
                }
            }
        }
    }
    .active{
        border-bottom:  1px solid orange;
         a{    
            color: orange !important;
        }
    }
    .container__actions{
        width: 20%;
    }
    .container__user__menu{
        width: 10%;
    }

}

