.container__navbar__dekstop{
    // height: 10%;

    .container__navbar{
        &__logo{
            font-size: 24px !important;
            &__table{
                color: orange
            }
        }
        &__title{
            padding-left: 5px;
            width: auto;
            font-family: 'Quicksand';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            color: #000000;
            &__table{
                color: orange
            }
        }
        &__options{
            width: 60%;
            ul{
                list-style: none;
                li{
                    a{
                        width: 20%;
                        text-decoration: none;
                        text-align: center;
                        letter-spacing: 1px;
                        color: #666666;
                        font-family: Quicksand;
                        font-style: normal;
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 16px;
                    }
                }
            }
        }
        &__admin{
            width: 40%;
            position: absolute;
            right: 0;
            margin-right: 1%;
            &__icons{
                color: #666666;
            }
            &__icons:hover{
                color: orange;
            }
        }
        &__admin2{
            width: 50%;
            position: absolute;
            right: 0;
            margin-right: 1%;
            &__icons{
                color: #666666;
            }
            &__icons:hover{
                color: orange;
            }
        }
    }
    .active{
        border-bottom:  1px solid orange;
         a{    
            color: orange !important;
        }
    }
    &__actions{
        width: 20%;
    }
    &__user__menu{
        width: 10%;
    }

}

