
.header__container{
    &__navbar{
        &__section{
            width: 96%;
            margin: 0 auto;
            &__title{
                font-family: 'Quicksand';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                color: #000000;
                width: inherit;
            }
            &__close{
                &__button{
                    color: #666666;
                }
                &__label{
                    font-family: 'Quicksand';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 16px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    letter-spacing: 1.2px;
                    color: #666666;
                }
            }
        }

    }
}

.info__container{
    &__header{
        align-self: flex-start;
        background-color: #FEF3DF;
        padding: 3%;
        &__elements{
            &-text{
                label{
                    font-family: 'Quicksand';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                    color: #000000;
                    span{
                        font-family: 'Quicksand';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 16px;
                        color: #000000;    
                    }
                }
            }
        }
    }
   
    &__user{
        padding: 3%;
        &__generic{
            height: auto !important;
        }
        &__generic, &__permissions{
            margin-bottom: 10px;
            padding-bottom: 10px;
            border-bottom: 1px dashed #A7A7A7;

            &__sections{
                height: 95%;
                &__one{
                    // border: 1px solid green;
                    &__name{
                        font-family: 'Quicksand';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 1.3em;
                        line-height: 28px;
                        display: flex;
                        align-items: center;
                        color: #000000;
                        // border: 1px solid green;

                    }
                    
                    &__tel,&__dependence,&__sector,&__office,&__email,&__date,&__status,&__observations{
                        &__title{
                            font-family: 'Quicksand';
                            font-style: normal;
                            font-weight: 300;
                            font-size: 12px;
                            line-height: 16px;
                            display: flex;
                            align-items: center;
                            letter-spacing: 1px;
                            color: #666666;
                        }
                        &__description{
                            font-family: 'Quicksand';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 10px;
                            line-height: 16px;
                            display: flex;
                            align-items: center;
                            letter-spacing: 0.2px;
                            color: #000000;
                        }
                    }
                }
                &__two{
                    // border: 1px solid red;
                    // height: 80%;
                }
            }

        }
    }
}

@media screen and (min-width: 960px) {
    .header__container{
        &__navbar{
            &__section{
                &__title{
                    width: auto;
                }
            }
        }
    }

    .info__container{
        &__header{
            width: 70% !important;
            margin-left: 5%;
            &__elements{
                &-button{
                display:  contents;
                }
            }
        }
        
        &__user{
            align-self: flex-start;

            width: 70% !important;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
            height: 90% !important;
            margin-left: 5%;
            &__generic{
                // border: 1px solid green;
                height: 100%;
                // border-bottom: 1px dashed #666666;
            }
            &__permissions{
                // border: 1px solid blue;
                height: 100%;
            }
        }

      }
 }
