
.info__container{
    &__header{
        align-self: flex-start;
        background-color: #FEF3DF;
        padding: 3%;
        &__elements{
            &-text{
                label{
                    font-family: 'Quicksand';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                    color: #000000;
                    span{
                        font-family: 'Quicksand';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 16px;
                        color: #000000;    
                    }
                }
            }
        }
    }
   
    &__detail{
        padding: 3%;
        padding-bottom: 0;
        &__robbery{
            height: auto !important;
        }
        &__robbery, &__localation, &__vehicle, &__corralon, &__provision, &__additional {
            margin-bottom: 10px;
            padding-bottom: 10px;
            border-bottom: 1px dashed #A7A7A7;

            &__sections{
                height: 95%;
                &__one, &__two{
                    // border: 1px solid green;
                    &__name{
                        font-family: 'Quicksand';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 1.3em;
                        line-height: 28px;
                        display: flex;
                        align-items: center;
                        color: #000000;
                        // border: 1px solid green;

                    }
                    
                    &__data{
                        &__title{
                            font-family: 'Quicksand';
                            font-style: normal;
                            font-weight: 300;
                            font-size: 12px;
                            line-height: 16px;
                            display: flex;
                            align-items: center;
                            letter-spacing: 1px;
                            color: #666666;
                            padding: 5px 0;
                        }
                        &__description{
                            font-family: 'Quicksand';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 10px;
                            line-height: 16px;
                            display: flex;
                            align-items: center;
                            letter-spacing: 0.2px;
                            color: #000000;
                            padding: 3px 0;

                        }
                    }
                }
              
                &__components{
                    padding-top: 20px;
                }
            }
        }
        &__additional{
            border-bottom: none !important;
            &__sections{
                &__components{
                    &__one, &__two{
                        border-bottom: 1px dashed #A7A7A7 !important;
                        // margin-bottom: 10px !important;
                        padding: 10px 0 !important;
                    }
                }
                
            }
        }
    }
}

@media screen and (min-width: 960px) {
    .header__container{
        &__navbar{
            &__section{
                &__title{
                    width: auto;
                }
            }
        }
    }

    .info__container{
        &__header{
            width: 70% !important;
            margin-left: 5%;
            &__elements{
                &-button{
                display:  contents;
                }
            }
        }
        
        &__detail{
            align-self: flex-start;

            width: 70% !important;
            // box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
            height: 90% !important;
            margin-left: 5%;
            &__robbery{
                // border: 1px solid green;
                height: 100%;
                // border-bottom: 1px dashed #666666;
            }
            // permission before
            &__localation{
                // border: 1px solid blue;
                height: 100%;
            }
        }

      }
 }
