<main class="light" fxFill fxLayout="column">  
    <div class="info__container" fxLayout="column"  fxFlex.lt-md="auto" fxFlex.gt-sm="auto" fxLayoutAlign.gt-sm="start center">  
        <div class="info__container__header primary" fxFlex.gt-sm="5" fxFlex.lt-md="20vh"  fxFill fxLayout.gt-sm="row" fxLayout.lt-md="row" fxLayoutAlign="center center">
            <div class="info__container__header__elements" fxLayout.gt-sm="row" fxLayout.lt-md="column">
                <div class="info__container__header__elements-text" fxFlex.gt-sm="80"  fxFlex.lt-md="100">
                    <label for="" class="info__container__header__elements-text">Se usará esta información para <span class="info__container__header-text-bold"> llenar algunos datos de tu reporte de Robo o Abuso de Confianza.</span> </label>
                </div>
                <div class="info__container__header__elements-button" fxFlex="20">
                    <button mat-raised-button class="primary"  color="primary"> Continuar </button>
                </div>
            </div>
        </div>
        <div class="info__container__detail" fxFlex.gt-sm="auto"  fxFill fxLayout.gt-sm="column" fxLayout.lt-md="column" >
            <div class="info__container__detail__robbery" fxLayout="column" fxFlex.gt-sm="auto" fxFlex.lt-md="auto" >
                <div class="info__container__detail__robbery__sections__one__name" fxFlex.lt-md="4" fxFlex.gt-sm="6" fxLayoutAlign="start start">
                    <label for="">Datos del robo</label>
                </div>
                <div class="info__container__detail__robbery__sections" fxFill fxLayout.lt-md="column" fxLayout.gt-sm="row" fxFlex="90">
                    <div class="info__container__detail__robbery__sections__one" fxFlex.gt-sm="50" fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign=" space-between space-between">
                        <div class="info__container__detail__robbery__sections__one__data" fxLayout="column" fxFlex="25"> 
                            <div class="info__container__detail__robbery__sections__one__data__title">
                                Número de serie
                            </div>
                            <div class="info__container__detail__robbery__sections__one__data__description">
                                MR0GT34K9B0987654
                            </div>
                        </div>
                        <div class="info__container__detail__robbery__sections__one__name__dependence" fxFlex="25">
                            <div class="info__container__detail__robbery__sections__one__data__title">
                                Compañía
                            </div>
                            <div class="info__container__detail__robbery__sections__one__data__description">
                                Quálitas
                            </div>
                        </div>
                        <div class="info__container__detail__robbery__sections__one__name__dependence" fxFlex="25">
                            <div class="info__container__detail__robbery__sections__one__data__title">
                                Color
                            </div>
                            <div class="info__container__detail__robbery__sections__one__data__description">
                                Negro
                            </div>
                        </div>
                        <div class="info__container__detail__robbery__sections__one__name__sector" fxFlex="25">
                            <div class="info__container__detail__robbery__sections__one__data__title">
                                Modelo
                            </div>
                            <div class="info__container__detail__robbery__sections__one__data__description">
                                2018
                            </div>
                        </div>
                        <div class="info__container__detail__robbery__sections__one__name__office" fxFlex="25">    
                            <div class="info__container__detail__robbery__sections__one__data__title">
                                Marca
                            </div>
                            <div class="info__container__detail__robbery__sections__one__data__description">
                                NISSAN
                            </div>
                        </div>
                        <div class="info__container__detail__robbery__sections__one__name__office" fxFlex="25">    
                            <div class="info__container__detail__robbery__sections__one__data__title">
                                Submarca
                            </div>
                            <div class="info__container__detail__robbery__sections__one__data__description">
                                VERSA
                            </div>
                        </div>
                        <div class="info__container__detail__robbery__sections__one__name__office" fxFlex="25">    
                            <div class="info__container__detail__robbery__sections__one__data__title">
                                Fecha de reporte de la compañía
                            </div>
                            <div class="info__container__detail__robbery__sections__one__data__description">
                                12 / 09 / 2021
                            </div>
                        </div>
                        <div class="info__container__detail__robbery__sections__one__name__office" fxFlex="25">    
                            <div class="info__container__detail__robbery__sections__one__data__title">
                                Placa
                            </div>
                            <div class="info__container__detail__robbery__sections__one__data__description">
                                456RFD
                            </div>
                        </div>
                        <div class="info__container__detail__robbery__sections__one__name__office" fxFlex="25">    
                            <div class="info__container__detail__robbery__sections__one__data__title">
                                Estatus  de placa
                            </div>
                            <div class="info__container__detail__robbery__sections__one__data__description">
                                Disponible
                            </div>
                        </div>
                    </div>
                    <div class="info__container__detail__robbery__sections__two" fxFlex.gt-sm="50" fxFlex.lt-md="100" fxLayout="column" > 
                        <div class="info__container__detail__robbery__sections__two__email" fxFlex="25">
                            <div class="info__container__detail__robbery__sections__two__data__title">
                                Número de siniestro
                            </div>
                            <div class="info__container__detail__robbery__sections__two__data__description">
                                QUALITAS123456789
                            </div>
                        </div>
                        <div class="info__container__detail__robbery__sections__two__date" fxFlex="25"> 
                            <div class="info__container__detail__robbery__sections__two__data__title">
                                Tipo de registro
                            </div>
                            <div class="info__container__detail__robbery__sections__two__data__description">
                                Robo
                            </div>
                        </div>
                        <div class="info__container__detail__robbery__sections__two__name__status" fxFlex="25">
                            <div class="info__container__detail__robbery__sections__two__data__title">
                                Fecha del suceso
                            </div>
                            <div class="info__container__detail__robbery__sections__two__data__description">
                                12 / 09 / 2021
                            </div>
                        </div>
                        <div class="info__container__detail__robbery__sections__two__name__onservations" fxFlex="25">
                            <div class="info__container__detail__robbery__sections__two__data__title">
                                País         
                            </div>
                            <div class="info__container__detail__robbery__sections__two__data__description">
                                México
                            </div>               
                        </div>
                        <div class="info__container__detail__robbery__sections__two__name__onservations" fxFlex="25">
                            <div class="info__container__detail__robbery__sections__two__data__title">
                                Estado         
                            </div>
                            <div class="info__container__detail__robbery__sections__two__data__description">
                                Ciudad de México
                            </div>               
                        </div>
                        <div class="info__container__detail__robbery__sections__two__name__onservations" fxFlex="25">
                            <div class="info__container__detail__robbery__sections__two__data__title">
                                Municipio         
                            </div>
                            <div class="info__container__detail__robbery__sections__two__data__description">
                                Cuajimalpa de Morelos
                            </div>               
                        </div>
                        <div class="info__container__detail__robbery__sections__two__name__onservations" fxFlex="25">
                            <div class="info__container__detail__robbery__sections__two__data__title">
                                Origen         
                            </div>
                            <div class="info__container__detail__robbery__sections__two__data__description">
                                Nacional
                            </div>               
                        </div>
                        <div class="info__container__detail__robbery__sections__two__name__onservations" fxFlex="25">
                            <div class="info__container__detail__robbery__sections__two__data__title">
                                Motor         
                            </div>
                            <div class="info__container__detail__robbery__sections__two__data__description">
                                12DE343D34445DC321
                            </div>               
                        </div>
                        <div class="info__container__detail__robbery__sections__two__name__onservations" fxFlex="25">
                            <div class="info__container__detail__robbery__sections__two__data__title">
                                Carpeta de investigación         
                            </div>
                            <div class="info__container__detail__robbery__sections__two__data__description">
                                123456789
                            </div>               
                        </div>
    
                    </div>

                </div>
            </div>
            <div class="info__container__detail__localation" fxLayout="column" fxFlex.gt-sm="auto" fxFlex.lt-md="auto" >
                <div class="info__container__detail__localation__sections__one__name" fxFlex.lt-md="10" fxFlex.gt-sm="15" fxLayoutAlign="start center">
                    <label for="">Datos de localización</label>
                </div>
                <div class="info__container__detail__localation__sections" fxFill fxLayout.lt-md="column" fxLayout.gt-sm="row" fxFlex="90">
                    <div class="info__container__detail__localation__sections__one" fxFlex.gt-sm="50" fxFlex.lt-md="100" fxLayout="column">
                        <div class="info__container__detail__localation__sections__one__data" fxLayout="column" fxFlex="24"> 
                            <div class="info__container__detail__localation__sections__one__data__title">
                                Fecha de localización
                            </div>
                            <div class="info__container__detail__localation__sections__one__data__description">
                                18 / 09 / 2021
                            </div>
                        </div>
                        <div class="info__container__detail__localation__sections__one__name__dependence" fxFlex="24">
                            <div class="info__container__detail__localation__sections__one__data__title">
                                Localizador
                            </div>
                            <div class="info__container__detail__localation__sections__one__data__description">
                                OCRA
                            </div>
                        </div>
                        <div class="info__container__detail__localation__sections__one__name__sector" fxFlex="24">
                            <div class="info__container__detail__localation__sections__one__data__title">
                                Observaciones
                            </div>
                            <div class="info__container__detail__localation__sections__one__data__description">
                                Ninguno
                            </div>
                        </div>
                        <div class="info__container__detail__localation__sections__one__name__office" fxFlex="28">    
                            <div class="info__container__detail__localation__sections__one__data__title">
                                País
                            </div>
                            <div class="info__container__detail__localation__sections__one__data__description">
                                México
                            </div>
                        </div>
                        <div class="info__container__detail__localation__sections__one__name__office" fxFlex="28">    
                            <div class="info__container__detail__localation__sections__one__data__title">
                                Estado
                            </div>
                            <div class="info__container__detail__localation__sections__one__data__description">
                                Querétaro
                            </div>
                        </div>
                    </div>
                    <div class="info__container__detail__localation__sections__two" fxFlex.gt-sm="50" fxFlex.lt-md="100" fxLayout="column"> 
                        <div class="info__container__detail__localation__sections__one__email" fxFlex="25">
                            <div class="info__container__detail__localation__sections__one__data__title">
                                Municipio
                            </div>
                            <div class="info__container__detail__localation__sections__one__data__description">
                                San Juan del Río
                            </div>
                        </div>
                        <div class="info__container__detail__localation__sections__one__date" fxFlex="25"> 
                            <div class="info__container__detail__localation__sections__one__data__title">
                                Código Postal
                            </div>
                            <div class="info__container__detail__localation__sections__one__data__description">
                                76807
                            </div>
                        </div>
                        <div class="info__container__detail__localation__sections__one__name__status" fxFlex="25">
                            <div class="info__container__detail__localation__sections__one__data__title">
                                Colonia
                            </div>
                            <div class="info__container__detail__localation__sections__one__data__description">
                                San Calletano 3ra sección
                            </div>
                        </div>
                        <div class="info__container__detail__localation__sections__one__name__onservations" fxFlex="25">
                            <div class="info__container__detail__localation__sections__one__data__title">
                                Calle         
                            </div>
                            <div class="info__container__detail__localation__sections__one__data__description">
                                Río Tiber
                            </div>               
                        </div>
                        <div class="info__container__detail__localation__sections__one__name__onservations" fxFlex="25">
                            <div class="info__container__detail__localation__sections__one__data__title">
                                Número         
                            </div>
                            <div class="info__container__detail__localation__sections__one__data__description">
                                30 A
                            </div>               
                        </div>
    
                    </div>

                </div>
            </div>
            <div class="info__container__detail__vehicle" fxLayout="column" fxFlex.gt-sm="auto" fxFlex.lt-md="auto" >
                <div class="info__container__detail__vehicle__sections__one__name" fxFlex.lt-md="10" fxFlex.gt-sm="15" fxLayoutAlign="start center">
                    <label for="">Datos del vehículo localizado</label>
                </div>
                <div class="info__container__detail__vehicle__sections" fxFill fxLayout.lt-md="column" fxLayout.gt-sm="row" fxFlex="90">
                    <div class="info__container__detail__vehicle__sections__one" fxFlex.gt-sm="50" fxFlex.lt-md="auto" fxLayout="column">
                        <div class="info__container__detail__vehicle__sections__one__data" fxLayout="column" fxFlex="24"> 
                            <div class="info__container__detail__vehicle__sections__one__data__title">
                                Tipo de transporte
                            </div>
                            <div class="info__container__detail__vehicle__sections__one__data__description">
                                Automóvil
                            </div>
                        </div>
                        <div class="info__container__detail__vehicle__sections__one__name__dependence" fxFlex="24">
                            <div class="info__container__detail__vehicle__sections__one__data__title">
                                Condición
                            </div>
                            <div class="info__container__detail__vehicle__sections__one__data__description">
                                Buena
                            </div>
                        </div>
                        <div class="info__container__detail__vehicle__sections__one__name__sector" fxFlex="24">
                            <div class="info__container__detail__vehicle__sections__one__data__title">
                                Placa de circulación
                            </div>
                            <div class="info__container__detail__vehicle__sections__one__data__description">
                                456RFD
                            </div>
                        </div>
                        <div class="info__container__detail__vehicle__sections__one__name__office" fxFlex="28">    
                            <div class="info__container__detail__vehicle__sections__one__data__title">
                                PLaca VIN
                            </div>
                            <div class="info__container__detail__vehicle__sections__one__data__description">
                                MR0GT34K9B0987654
                            </div>
                        </div>
                    </div>
                    <div class="info__container__detail__vehicle__sections__two" fxFlex.gt-sm="50" fxFlex.lt-md="auto" fxLayout="column"> 
                        <div class="info__container__detail__vehicle__sections__one__email" fxFlex.gt-sm="25">
                            <div class="info__container__detail__vehicle__sections__one__data__title">
                                Motor
                            </div>
                            <div class="info__container__detail__vehicle__sections__one__data__description">
                                12DE343D34445DC321
                            </div>
                        </div>
                        <div class="info__container__detail__vehicle__sections__one__date" fxFlex.gt-sm="25" fxFlex.lt-md="33"> 
                            <div class="info__container__detail__vehicle__sections__one__data__title">
                                Motor remarcado
                            </div>
                            <div class="info__container__detail__vehicle__sections__one__data__description">
                                No
                            </div>
                        </div>
                        <div class="info__container__detail__vehicle__sections__one__name__status" fxFlex.gt-sm="25">
                            <div class="info__container__detail__vehicle__sections__one__data__title">
                                Serie remarcada
                            </div>
                            <div class="info__container__detail__vehicle__sections__one__data__description">
                                Ninguna
                            </div>
                        </div>
                        <div class="info__container__detail__vehicle__sections__one__name__onservations" fxShow.gt-sm="true" fxHide.lt-md="false" fxFlex.gt-sm="25" fxFlex.lt-md="0">
                            <div class="info__container__detail__vehicle__sections__one__data__title">
                                       
                            </div>
                            <div class="info__container__detail__vehicle__sections__one__data__description">
    
                            </div>               
                        </div>
   
    
                    </div>

                </div>
            </div>
            <div class="info__container__detail__corralon" fxLayout="column" fxFlex.gt-sm="auto" fxFlex.lt-md="auto" fxLayoutAlign.lt-md="space-evenly none" >
                <div class="info__container__detail__corralon__sections__one__name" fxFlex.lt-md="10" fxFlex.gt-sm="25" fxLayoutAlign="start center">
                    <label for="">Corralón</label>
                </div>
                <div class="info__container__detail__corralon__sections" fxFill fxLayout.lt-md="column" fxLayout.gt-sm="row" fxFlex="80" >
                    <div class="info__container__detail__corralon__sections__one" fxFlex.gt-sm="50" fxFlex.lt-md="auto" fxLayout="column">
                        <div class="info__container__detail__corralon__sections__one__data" fxLayout="column" fxFlex="50"> 
                            <div class="info__container__detail__corralon__sections__one__data__title" >
                                País
                            </div>
                            <div class="info__container__detail__corralon__sections__one__data__description">
                                México
                            </div>
                        </div>
                        <div class="info__container__detail__corralon__sections__one__name__dependence" fxFlex="50">
                            <div class="info__container__detail__corralon__sections__one__data__title">
                                Estado
                            </div>
                            <div class="info__container__detail__corralon__sections__one__data__description">
                                Querétaro
                            </div>
                        </div>
                    </div>
                    <div class="info__container__detail__corralon__sections__two" fxFlex.gt-sm="50" fxFlex.lt-md="auto" fxLayout="column"> 
                        <div class="info__container__detail__corralon__sections__one__email" fxFlex="50">
                            <div class="info__container__detail__corralon__sections__one__data__title">
                                Municipio
                            </div>
                            <div class="info__container__detail__corralon__sections__one__data__description">
                                Atizapán
                            </div>
                        </div>
                        <div class="info__container__detail__corralon__sections__one__date" fxFlex="50"> 
                            <div class="info__container__detail__corralon__sections__one__data__title">
                                Corralón
                            </div>
                            <div class="info__container__detail__corralon__sections__one__data__description">
                                OCRA Atizapán
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="info__container__detail__provision" fxLayout="column" fxFlex.gt-sm="auto" fxFlex.lt-md="auto" fxLayoutAlign.lt-md="space-evenly none" >
                <div class="info__container__detail__provision__sections__one__name" fxFlex.lt-md="10" fxFlex.gt-sm="25" fxLayoutAlign="start center">
                    <label for="">Disposición</label>
                </div>
                <div class="info__container__detail__provision__sections" fxFill fxLayout.lt-md="column" fxLayout.gt-sm="row" fxFlex="80" >
                    <div class="info__container__detail__provision__sections__one" fxFlex.gt-sm="50" fxFlex.lt-md="auto" fxLayout="column">
                        <div class="info__container__detail__provision__sections__one__data" fxLayout="column" fxFlex="50"> 
                            <div class="info__container__detail__provision__sections__one__data__title" >
                                País
                            </div>
                            <div class="info__container__detail__provision__sections__one__data__description">
                                México
                            </div>
                        </div>
                        <div class="info__container__detail__provision__sections__one__name__dependence" fxFlex="50">
                            <div class="info__container__detail__provision__sections__one__data__title">
                                Estado
                            </div>
                            <div class="info__container__detail__provision__sections__one__data__description">
                                Querétaro
                            </div>
                        </div>
                    </div>
                    <div class="info__container__detail__provision__sections__two" fxFlex.gt-sm="50" fxFlex.lt-md="auto" fxLayout="column"> 
                        <div class="info__container__detail__provision__sections__one__email" fxFlex="50">
                            <div class="info__container__detail__provision__sections__one__data__title">
                                Municipio
                            </div>
                            <div class="info__container__detail__provision__sections__one__data__description">
                                Atizapán
                            </div>
                        </div>
                        <div class="info__container__detail__provision__sections__one__date" fxFlex="50"> 
                            <div class="info__container__detail__provision__sections__one__data__title">
                                País
                            </div>
                            <div class="info__container__detail__provision__sections__one__data__description">
                                OCRA Atizapán
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="info__container__detail__additional" fxLayout="column" fxFlex.gt-sm="auto" fxFlex.lt-md="auto" >
                <div class="info__container__detail__additional__sections__one__name" fxFlex.lt-md="10" fxFlex.gt-sm="15" fxLayoutAlign="start center">
                    <label for="">Datos adicionales</label>
                </div>
                <div class="info__container__detail__additional__sections1" fxFill fxLayout.lt-md="column" fxLayout.gt-sm="row" fxFlex="90">
                    <div class="info__container__detail__additional__sections1__one" fxFlex.gt-sm="50" fxFlex.lt-md="auto" fxLayout="column">
                        <div class="info__container__detail__additional__sections__one__data" fxLayout="column" fxFlex="33"> 
                            <div class="info__container__detail__additional__sections__one__data__title">
                                Tiene puesta a disposición
                            </div>
                            <div class="info__container__detail__additional__sections__one__data__description">
                                Si
                            </div>
                        </div>
                        <div class="info__container__detail__additional__sections__one__name__dependence" fxFlex="34">
                            <div class="info__container__detail__additional__sections__one__data__title">
                                Puesta a disposición
                            </div>
                            <div class="info__container__detail__additional__sections__one__data__description">
                                OCRA Atizapán
                            </div>
                        </div>
                        <div class="info__container__detail__additional__sections__one__name__sector" fxFlex="33">
                            <div class="info__container__detail__additional__sections__one__data__title">
                                No. económico
                            </div>
                            <div class="info__container__detail__additional__sections__one__data__description">
                                10293847
                            </div>
                        </div>
                    </div>
                    <div class="info__container__detail__additional__sections1__two" fxFlex.gt-sm="50" fxFlex.lt-md="auto" fxLayout="column"> 
                        <div class="info__container__detail__additional__sections__one__date" fxFlex.gt-sm="33" fxFlex.lt-md="50"> 
                            <div class="info__container__detail__additional__sections__one__data__title">
                                No. del inventario de la grúa
                            </div>
                            <div class="info__container__detail__additional__sections__one__data__description">
                                46324820482
                            </div>
                        </div>
                        <div class="info__container__detail__additional__sections__one__name__status" fxFlex.gt-sm="33" fxFlex.lt-md="50">
                            <div class="info__container__detail__additional__sections__one__data__title">
                                Fecha de entrada de la grúa
                            </div>
                            <div class="info__container__detail__additional__sections__one__data__description">
                                19 / 09 / 2021
                            </div>
                        </div>
                        <div class="info__container__detail__additional__sections__one__name__onservations" fxShow.gt-sm="true" fxHide.lt-md="false" fxFlex.gt-sm="33" fxFlex.lt-md="0">
                            <div class="info__container__detail__additional__sections__one__data__title">
                            </div>
                            <div class="info__container__detail__additional__sections__one__data__description">
                            </div>               
                        </div>
                    </div>
                
                </div
                >
                <div class="info__container__detail__additional__sections__components" fxLayout="column">
                    <div class="info__container__detail__additional__sections__one__name" fxFlex.lt-md="10" fxFlex.gt-sm="15" fxLayoutAlign="start center">
                        <label for="">Componentes</label>
                    </div>
    
                    <!-- border bottom on section -->
                    <div class="info__container__detail__additional__sections__components__one" fxFill fxLayout.lt-md="column" fxLayout.gt-sm="row" fxFlex="90">
                        <div class="info__container__detail__additional__sections__one" fxFlex.gt-sm="50" fxFlex.lt-md="auto" fxLayout="column">
                            <div class="info__container__detail__additional__sections__one__data" fxLayout="column" fxFlex="25"> 
                                <div class="info__container__detail__additional__sections__one__data__title">
                                    Motor
                                </div>
                                <div class="info__container__detail__additional__sections__one__data__description">
                                    Buen estado
                                </div>
                            </div>
                            <div class="info__container__detail__additional__sections__one__name__dependence" fxFlex="25">
                                <div class="info__container__detail__additional__sections__one__data__title">
                                    Parrillas
                                </div>
                                <div class="info__container__detail__additional__sections__one__data__description">
                                    Buen estado
                                </div>
                            </div>
                            <div class="info__container__detail__additional__sections__one__name__sector" fxFlex="25">
                                <div class="info__container__detail__additional__sections__one__data__title">
                                    Fasias
                                </div>
                                <div class="info__container__detail__additional__sections__one__data__description">
                                    Buen estado
                                </div>
                            </div>
                            <div class="info__container__detail__additional__sections__one__name__sector" fxFlex="25">
                                <div class="info__container__detail__additional__sections__one__data__title">
                                    Espejos retrovisores
                                </div>
                                <div class="info__container__detail__additional__sections__one__data__description">
                                    Buen estado
                                </div>
                            </div>
                        </div>
                       
                        <div class="info__container__detail__additional__sections__two" fxFlex.gt-sm="50" fxFlex.lt-md="auto" fxLayout="column"> 
                            <!-- red color validation -->
                            <div class="info__container__detail__additional__sections__one__date" fxFlex.gt-sm="25" fxFlex.lt-md="25"> 
                                <div class="info__container__detail__additional__sections__one__data__title">
                                    Faros
                                </div>
                                <div class="info__container__detail__additional__sections__one__data__description">
                                    Dañado
                                </div>
                            </div>
                            <div class="info__container__detail__additional__sections__one__name__status" fxFlex.gt-sm="25" fxFlex.lt-md="50">
                                <div class="info__container__detail__additional__sections__one__data__title">
                                    Calaveras
                                </div>
                                <div class="info__container__detail__additional__sections__one__data__description">
                                    Buen estado
                                </div>
                            </div>
                            <div class="info__container__detail__additional__sections__one__name__status" fxFlex.gt-sm="25" fxFlex.lt-md="50">
                                <div class="info__container__detail__additional__sections__one__data__title">
                                    Rines
                                </div>
                                <div class="info__container__detail__additional__sections__one__data__description">
                                    Buen estado
                                </div>
                            </div>
                            <div class="info__container__detail__additional__sections__one__name__status" fxFlex.gt-sm="25" fxFlex.lt-md="25">
                                <div class="info__container__detail__additional__sections__one__data__title">
                                    Llantas
                                </div>
                                <div class="info__container__detail__additional__sections__one__data__description">
                                    Buen estado
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  -->
                     <!-- border bottom on section -->
                     <div  class="info__container__detail__additional__sections__components__two" fxFill fxLayout.lt-md="column" fxLayout.gt-sm="row" fxFlex="90">
                        <div class="info__container__detail__additional__sections__one" fxFlex.gt-sm="50" fxFlex.lt-md="auto" fxLayout="column">
                            <div class="info__container__detail__additional__sections__one__data" fxLayout="column" fxFlex="50"> 
                                <div class="info__container__detail__additional__sections__one__data__title">
                                    Computadora
                                </div>
                                <div class="info__container__detail__additional__sections__one__data__description">
                                    Buen estado
                                </div>
                            </div>
                            <div class="info__container__detail__additional__sections__one__name__dependence" fxFlex="50">
                                <div class="info__container__detail__additional__sections__one__data__title">
                                    Transmisión
                                </div>
                                <div class="info__container__detail__additional__sections__one__data__description">
                                    Buen estado
                                </div>
                            </div>
                        </div>
                       
                        <div class="info__container__detail__additional__sections__two" fxFlex.gt-sm="50" fxFlex.lt-md="auto" fxLayout="column"> 
                            <div class="info__container__detail__additional__sections__one__data" fxFlex.gt-sm="50" fxFlex.lt-md="50"> 
                                <div class="info__container__detail__additional__sections__one__data__title">
                                    Bolsas de aire
                                </div>
                                <div class="info__container__detail__additional__sections__one__data__description">
                                    Dañado
                                </div>
                            </div>
                            <div class="info__container__detail__additional__sections__one__name__status" fxFlex.gt-sm="50" fxFlex.lt-md="0">
                                <div class="info__container__detail__additional__sections__one__data__title">
                                    
                                </div>
                                <div class="info__container__detail__additional__sections__one__data__description">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  -->       
                     <div  class="info__container__detail__additional__sections__components__three" fxFill fxLayout.lt-md="column" fxLayout.gt-sm="row" fxFlex="90">
                        <div class="info__container__detail__additional__sections__one" fxFlex.gt-sm="50" fxFlex.lt-md="auto" fxLayout="column">
                            <div class="info__container__detail__additional__sections__one__data" fxLayout="column" fxFlex="50"> 
                                <div class="info__container__detail__additional__sections__one__data__title">
                                    Equipo de sonido
                                </div>
                                <div class="info__container__detail__additional__sections__one__data__description">
                                    Buen estado
                                </div>
                            </div>
                            <div class="info__container__detail__additional__sections__one__name__dependence" fxFlex="50">
                                <div class="info__container__detail__additional__sections__one__data__title">
                                    Asientos
                                </div>
                                <div class="info__container__detail__additional__sections__one__data__description">
                                    Buen estado
                                </div>
                            </div>
                        </div>
                       
                        <div class="info__container__detail__additional__sections__two" fxFlex.gt-sm="50" fxFlex.lt-md="auto" fxLayout="column"> 
                            <div class="info__container__detail__additional__sections__one__data" fxFlex="50"> 
                                <div class="info__container__detail__additional__sections__one__data__title">
                                    Tablero
                                </div>
                                <div class="info__container__detail__additional__sections__one__data__description">
                                    Buen estado
                                </div>
                            </div>
                            <div class="info__container__detail__additional__sections__one__name__status" fxFlex="50">
                                <div class="info__container__detail__additional__sections__one__data__title">
                                    Volante
                                </div>
                                <div class="info__container__detail__additional__sections__one__data__description">
                                    Buen estado
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
               
            </div>      
        </div>
    </div>
</main>