<div class="rol users-admin">
  <mat-card class="rol__card">
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <h5 class="subtitle">Rol de usuario</h5>
        <mat-form-field
          class="primary"
          appearance="standard"
          floatLabel="always"
        >
          <mat-select placeholder="Selecionar" class="rol__card__select">
            <mat-option selected> --</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-divider></mat-divider>
      <div class="rol__card__permissions">
        <h5 class="subtitle">Permisos</h5>
      </div>
    </mat-card-content>
  </mat-card>
</div>
