
<div class="container primary">
    <p>buttons</p>
    <h5>normal</h5>
    <button mat-raised-button color="primary">Label</button>
    <button mat-raised-button [disabled]="true" color="primary">Label</button>
    <h4>icon</h4>
    <button mat-raised-button  color="primary">
        Enviar
        <mat-icon>send</mat-icon>
    </button>
    <button [disabled]="true"  mat-raised-button  color="primary">
        Enviar
        <mat-icon matPrefix> send</mat-icon>
    </button>
    <br> <br>
    <button mat-raised-button  color="primary">
        <mat-icon>send</mat-icon>
        Enviar
    </button>
    <button [disabled]="true"  mat-raised-button  color="primary">
        <mat-icon matPrefix> send</mat-icon>
        Enviar
    </button>
</div>

<div class="container secondary">
    <p><b>gray buttons</b></p>
    <h5>normal</h5>
    <button mat-raised-button color="primary">Label</button>
    <button mat-raised-button [disabled]="true" color="primary">Label</button>
    <h4>icon</h4>
    <button mat-raised-button  color="primary">
        Enviar
        <mat-icon>send</mat-icon>
    </button>
    <button [disabled]="true"  mat-raised-button  color="primary">
        Enviar
        <mat-icon matPrefix> send</mat-icon>
    </button>
    <br> <br>
    <button mat-raised-button  color="primary">
        <mat-icon>send</mat-icon>
        Enviar
    </button>
    <button [disabled]="true"  mat-raised-button  color="primary">
        <mat-icon matPrefix> send</mat-icon>
        Enviar
    </button>
</div>


<div class="container delete">
    <p><b>gray buttons</b></p>
    <h5>normal</h5>
    <button mat-raised-button color="primary">Label</button>
    <button mat-raised-button [disabled]="true" color="primary">Label</button>
    <h4>icon</h4>
    <button mat-raised-button  color="primary">
        Enviar
        <mat-icon>send</mat-icon>
    </button>
    <button [disabled]="true"  mat-raised-button  color="primary">
        Enviar
        <mat-icon matPrefix> send</mat-icon>
    </button>
    <br> <br>
    <button mat-raised-button  color="primary">
        <mat-icon>send</mat-icon>
        Enviar
    </button>
    <button [disabled]="true"  mat-raised-button  color="primary">
        <mat-icon matPrefix> send</mat-icon>
        Enviar
    </button>
</div>
<div class="container primary">
    <p><b>icon buttons</b></p>
    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>more_vert</mat-icon>
      </button>
      <button [disabled]="true" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>more_vert</mat-icon>
      </button>
      <br>
    </div>
    
    <div class="container big-button">
        <h4>big square</h4>
        <button mat-raised-button color="primary">Primary</button>
        <button [disabled]="true" mat-raised-button color="primary">Primary</button>
    </div>
