<div class="contaißner feedback">
    <h4>slide</h4>
    <mat-slide-toggle class="example-margin" color="primary" [checked]="false" [disabled]="false">
        on
    </mat-slide-toggle>
    <mat-slide-toggle class="example-margin" color="primary" [checked]="false" [disabled]="true">
        on
    </mat-slide-toggle>

    <h4>slide</h4>
    <mat-slide-toggle class="example-margin" color="primary" [checked]="true" [disabled]="false">
        on
    </mat-slide-toggle>

    <h4>slide</h4>
    <mat-slide-toggle class="example-margin" color="primary" [checked]="true" [disabled]="true">
        on
    </mat-slide-toggle>
</div>