<mat-card class="table-admin table-card">
  <mat-card-header>
    <div
      class="table-card card-carbon10"
      fxLayout="row"
      fxLayoutAlign="center center"
    >
      <span>1</span>
    </div>
  </mat-card-header>
  <mat-card-content>
    <mat-card-title-group>
      <mat-card-title>Nombre / Usuario</mat-card-title>
      <mat-card-subtitle>Aldo Martínez Jiménez</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-title-group>
      <mat-card-title>Dependencia</mat-card-title>
      <mat-card-subtitle>AMIS</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-title-group>
      <mat-card-title>Compañía / Sector</mat-card-title>
      <mat-card-subtitle>AMIS</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-title-group>
      <mat-card-title>Oficina</mat-card-title>
      <mat-card-subtitle>CDMX</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-title-group>
      <mat-card-title>Correo</mat-card-title>
      <mat-card-subtitle>aldomartinez@dominio.com</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-title-group>
      <mat-card-title>Fecha de registro</mat-card-title>
      <mat-card-subtitle>12/09/2021</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-title-group>
      <mat-card-title>Estatus</mat-card-title>
      <mat-card-subtitle>Activo</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-content>
</mat-card>
