<main class="modals-admin" fxFill fxLayout="column">
  <div class="header__container" fxLayout="row" fxFlex="10">
    <mat-toolbar
      fxLayout="row"
      class="header__container__navbar"
      color="accent"
      fxLayoutAlign.lt-md="center center"
      fxLayoutAlign.gt-sm="start center"
    >
      <div
        class="header__container__navbar__section"
        fxLayout="row"
        fxLayoutAlign="space-between center"
      >
        <div
          class="header__container__navbar__section__title"
          fxLayoutAlign="end center"
          fxLayoutAlign="center center"
        >
          <label for="title">Detalle de usuario</label>
        </div>

        <div
          (click)="close()"
          class="header__container__section__navbar__close"
          fxLayoutAlign="end center"
        >
          <button
            mat-icon-button
            class="header__container__navbar__section__close__button"
          >
            <mat-icon class="material-icons-outlined"> close </mat-icon>
          </button>
          <label
            class="header__container__navbar__section__close__label"
            for="close-text"
            fxHide.lt-md="true"
            fxShow.gt-sm="true"
            >Cerrar</label
          >
        </div>
      </div>
    </mat-toolbar>
  </div>
  <div
    class="info__container"
    fxFlex.lt-md="90"
    fxFlex.gt-sm="90"
    fxLayoutAlign.gt-sm="start center"
  >
    <div class="info__container__user" fxFlex>
      <h2 class="mat-title">Datos del usuario</h2>
      <p class="mat-subheading-1">Captura los datos y configura los permisos</p>
      <div fxLayout="column">
        <form fxFlexFill>
          <mat-form-field appearance="outline" fxFlexFill color="users-admin">
            <mat-label> Buscar por nombre o correo </mat-label>
            <mat-icon matPrefix>search</mat-icon>
            <input
              placeholder="Buscar por nombre o correo"
              matInput
              formControlName="username"
              type="text"
              #searchUsername
            />
            <button
              (click)="searchUsername.value = ''"
              *ngIf="searchUsername.value"
              matSuffix
              mat-icon-button
            >
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-form-field>
        </form>
      </div>
    </div>
    <div class="info__container__user" fxFlex>Hola</div>
  </div>
</main>
