
   .header__container{
    &__navbar{
        background-color: transparent;
        padding: 0;
        &__section{
            margin: 0 !important;
            width: 96%;
            margin: 0 auto;
            &__title{
                font-family: 'Quicksand';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                color: #000000;
                width: inherit;
                margin-bottom: 10px;
            }
            &__close{
                cursor: pointer;
                margin-top: -7% !important;
                margin-right: -4% !important;
                &__button{
                    color: #666666;
                    // border: 1px solid red;
                }
                &__label{
                    cursor: pointer;
                    font-family: 'Quicksand';
                    font-style: normal;
                    font-weight: 300;
                    font-size: .7em;
                    line-height: 16px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    letter-spacing: 1.2px;
                    color: #666666;
                }
            }
        }
    }

}


.info__container{   
&__text{
    width: 100% !important;
    margin-bottom: 10px;
    &__title{
        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 700;
        font-size: 2em;
        line-height: 36px;
        color: #000000;
    }
    &__subtitle{
        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 400;
        font-size: 1em;
        line-height: 20px;
        color: #666666;
    }
}
&__user{
height: auto !important;
&__insurance1, &__insurance2{
    background-color: #FFF;
    box-shadow: 0px 4px 8px -2px rgba(0, 0, 0, 0.14);
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 20px;
    &__sections{
        height: 95%;
        &__one{
            &__name{
                font-family: 'Quicksand';
                font-style: normal;
                font-weight: 700;
                font-size: 1em;
                line-height: 20px;
                letter-spacing: 0.2px;
                color: #F07F13;
            }
            
            &__data{
                &__title{
                    font-family: 'Quicksand';
                    font-style: normal;
                    font-weight: 300;
                    font-size: .6em;
                    line-height: 16px;
                    display: flex;
                    align-items: center;
                    letter-spacing: 1px;
                    color: #666666;
                }
                &__description{
                    font-family: 'Quicksand';
                    font-style: normal;
                    font-weight: 700;
                    font-size: .6em;
                    line-height: 16px;
                    display: flex;
                    align-items: center;
                    letter-spacing: 0.2px;
                    color: #000000;
                }
            }
        }
    }
    .mat-raised-button{
        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 700;
        font-size: 1em;
        line-height: 35px;
        letter-spacing: 0.2px;
    }

}
}
}

@media screen and (min-width: 960px) {

.header__container{
    &__navbar{
        &__section{
            &__title{
                width: auto;
            }
            &__close{
                margin-top: 0 !important;
                margin-right: 0 !important;
            }
        }
    }
}

.info__container{
    width: 80%;
    margin: 0 auto;
    &__user{
        overflow: hidden;
        overflow-y: auto;
        &__insurance1, &__insurance2{
            height: 292px;
            border-bottom: 0px;
            width: 100%;
            margin: 10px;
            &__sections{
                width: 100% !important;
            }
        }
        &__insurance1, &__insurance2{
            &__sections{
                &__up{
                    width: 100%;
                    height: 70% !important;
                }
                &__down{
                    height: 22% !important;
                }
            }
        }
    }
    &__text{
        padding: 0 0 0 2%;
        margin-bottom: 0 !important;

    }
}
}
