<main class="light" fxFill fxLayout="column">  
    <div class="header__container"  fxLayout="row" fxFlex="10">
        <mat-toolbar fxLayout="row"  class="header__container__navbar" color="accent"  fxLayoutAlign.lt-md="center center" fxLayoutAlign.gt-sm="start center">
           <div class="header__container__navbar__section" fxLayout="row" fxLayoutAlign="space-between center">
               <div class="header__container__navbar__section__title" fxLayoutAlign="end center" fxLayoutAlign="center center">
                   <label for="title">Detalle de usuario</label>
               </div>
       
               <div (click)="close()" class="header__container__section__navbar__close" fxLayoutAlign="end center">
                   <button  mat-icon-button class="header__container__navbar__section__close__button">
                       <mat-icon  class="material-icons-outlined">
                           close 
                       </mat-icon>
                   </button>
                   <label  class="header__container__navbar__section__close__label" for="close-text" fxHide.lt-md="true" fxShow.gt-sm="true" >Cerrar</label>
               </div>
           </div>
        </mat-toolbar>
    </div>
    <div class="info__container"  fxFlex.lt-md="90" fxFlex.gt-sm="90" fxLayoutAlign.gt-sm="start center">    
        <div class="info__container__user" fxFlex.gt-sm="65"  fxFill fxLayout.gt-sm="column" fxLayout.lt-md="column" >
            <div class="info__container__user__generic" fxLayout="column" fxFlex.gt-sm="50" fxFlex.lt-md="55vh" >
                <div class="info__container__user__generic__sections__one__name" fxFlex.lt-md="10" fxFlex.gt-sm="15" fxLayoutAlign="start start">
                    <label for="">Aldo Martínez Jiménez</label>
                </div>
                <div class="info__container__user__generic__sections" fxFill fxLayout.lt-md="column" fxLayout.gt-sm="row" fxFlex="90">
                    <div class="info__container__user__generic__sections__one" fxFlex.gt-sm="50" fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign=" space-between space-between">
                        <div class="info__container__user__generic__sections__one__tel" fxLayout="column" fxFlex="25"> 
                            <div class="info__container__user__generic__sections__one__tel__title">
                                Teléfono
                            </div>
                            <div class="info__container__user__generic__sections__one__tel__description">
                                +52 55 9876 5432
                            </div>
                        </div>
                        <div class="info__container__user__generic__sections__one__name__dependence" fxFlex="25">
                            <div class="info__container__user__generic__sections__one__tel__title">
                                Dependencia
                            </div>
                            <div class="info__container__user__generic__sections__one__tel__description">
                                AMIS
                            </div>
                        </div>
                        <div class="info__container__user__generic__sections__one__name__sector" fxFlex="25">
                            <div class="info__container__user__generic__sections__one__tel__title">
                                Compañía / Sector
                            </div>
                            <div class="info__container__user__generic__sections__one__tel__description">
                                AMIS
                            </div>
                        </div>
                        <div class="info__container__user__generic__sections__one__name__office" fxFlex="25">    
                            <div class="info__container__user__generic__sections__one__tel__title">
                                Oficina
                            </div>
                            <div class="info__container__user__generic__sections__one__tel__description">
                                CDMX AMIS
                            </div>
                        </div>
                    </div>
                    <div class="info__container__user__generic__sections__two" fxFlex.gt-sm="50" fxFlex.lt-md="100" fxLayout="column" > 
                        <!-- <div class="info__container__user__generic__sections__one__name" fxShow.lt-md="false" fxShow.gt-sm="true" fxFlex.gt-sm="15"></div> -->
                        <div class="info__container__user__generic__sections__one__email" fxFlex="25">
                            <div class="info__container__user__generic__sections__one__tel__title">
                                Correo electrónico
                            </div>
                            <div class="info__container__user__generic__sections__one__tel__description">
                                aldojimenez@ejemplo.com.mx
                            </div>
                        </div>
                        <div class="info__container__user__generic__sections__one__date" fxFlex="25"> 
                            <div class="info__container__user__generic__sections__one__tel__title">
                                Fecha de registro
                            </div>
                            <div class="info__container__user__generic__sections__one__tel__description">
                                12/03/18
                            </div>
                        </div>
                        <div class="info__container__user__generic__sections__one__name__status" fxFlex="25">
                            <div class="info__container__user__generic__sections__one__tel__title">
                                Estatus
                            </div>
                            <div class="info__container__user__generic__sections__one__tel__description">
                                Activo
                            </div>
                        </div>
                        <div class="info__container__user__generic__sections__one__name__onservations" fxFlex="25">
                            <div class="info__container__user__generic__sections__one__tel__title">
                                Observaciones         
                            </div>
                            <div class="info__container__user__generic__sections__one__tel__description">
                                Ninguna
                            </div>               
                        </div>
    
                    </div>

                </div>
            </div>
            <div class="info__container__user__permissions" fxLayout="column" fxFlex.gt-sm="50" fxFlex.lt-md="55vh" >
                <div class="info__container__user__permissions__sections__one__name" fxFlex.lt-md="10" fxFlex.gt-sm="15" fxLayoutAlign="start center">
                    <label for="">Permisos</label>
                </div>
                <div class="info__container__user__permissions__sections" fxFill fxLayout.lt-md="column" fxLayout.gt-sm="row" fxFlex="90">
                    <div class="info__container__user__permissions__sections__one" fxFlex.gt-sm="50" fxFlex.lt-md="100" fxLayout="column">
                        <div class="info__container__user__permissions__sections__one__tel" fxLayout="column" fxFlex="24"> 
                            <div class="info__container__user__permissions__sections__one__tel__title">
                                Rol
                            </div>
                            <div class="info__container__user__permissions__sections__one__tel__description">
                                Administrador AMIS
                            </div>
                        </div>
                        <div class="info__container__user__permissions__sections__one__name__dependence" fxFlex="24">
                            <div class="info__container__user__permissions__sections__one__tel__title">
                                Robo y abuso de condianza
                            </div>
                            <div class="info__container__user__permissions__sections__one__tel__description">
                                Ninguno
                            </div>
                        </div>
                        <div class="info__container__user__permissions__sections__one__name__sector" fxFlex="24">
                            <div class="info__container__user__permissions__sections__one__tel__title">
                                Localización
                            </div>
                            <div class="info__container__user__permissions__sections__one__tel__description">
                                Ninguno
                            </div>
                        </div>
                        <div class="info__container__user__permissions__sections__one__name__office" fxFlex="28">    
                            <div class="info__container__user__permissions__sections__one__tel__title">
                                Consultas
                            </div>
                            <div class="info__container__user__permissions__sections__one__tel__description">
                                Robo/AC,Localización, Recuperación, Estatus individual, Estatus lotes, Histórico.
                            </div>
                        </div>
                    </div>
                    <div class="info__container__user__permissions__sections__two" fxFlex.gt-sm="50" fxFlex.lt-md="100" fxLayout="column"> 
                        <!-- <div class="info__container__user__permissions__sections__one__name" fxShow.lt-md="false" fxShow.gt-sm="true" fxFlex.gt-sm="15"></div> -->
                        <div class="info__container__user__permissions__sections__one__email" fxFlex="25">
                            <div class="info__container__user__permissions__sections__one__tel__title">
                                Lotes
                            </div>
                            <div class="info__container__user__permissions__sections__one__tel__description">
                                Bitácoras
                            </div>
                        </div>
                        <div class="info__container__user__permissions__sections__one__date" fxFlex="25"> 
                            <div class="info__container__user__permissions__sections__one__tel__title">
                                Reportes
                            </div>
                            <div class="info__container__user__permissions__sections__one__tel__description">
                                Calidad estadístico, Tablero dinámico
                            </div>
                        </div>
                        <div class="info__container__user__permissions__sections__one__name__status" fxFlex="25">
                            <div class="info__container__user__permissions__sections__one__tel__title">
                                Administración
                            </div>
                            <div class="info__container__user__permissions__sections__one__tel__description">
                                Usuarios, Bitácora de movimientos /consultas
                            </div>
                        </div>
                        <div class="info__container__user__permissions__sections__one__name__onservations" fxFlex="25">
                            <div class="info__container__user__permissions__sections__one__tel__title">
                                Notificaciones         
                            </div>
                            <div class="info__container__user__permissions__sections__one__tel__description">
                                Ninguno
                            </div>               
                        </div>
    
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>