<div class="table-admin">
  <div fxLayout="row" fxLayoutAlign="space-between center">

    <div class="container__paginator" fxFlex>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" aria-label="Select page of periodic elements"
        class="container__paginator__buttons">
      </mat-paginator>
    </div>
    <!-- <div class="container__actions" fxFlex="15" fxLayout="row" fxLayoutAlign="center none">
      <span class="container__span"></span>
      <mat-icon>save_alt</mat-icon>
    </div> -->
  </div>
