<div class="table-admin table-header">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div
      class="table-header__actions"
      fxFlex="25"
      fxLayout="row"
      fxLayoutAlign="start"
    >
      <span class="table-header__span"></span>
      <div *ngIf="!this.selection.hasValue()">
        <button mat-icon-button>
          <mat-icon class="material-icons-outlined">save_alt</mat-icon>
        </button>
      </div>
      <div *ngIf="this.selection.hasValue()" fxLayout="row">
        <button mat-icon-button (click)="detailUser()">
          <mat-icon class="material-icons-outlined">visibility</mat-icon>
        </button>
        <button mat-icon-button (click)="editUser()">
          <mat-icon class="material-icons-outlined">edit</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon class="material-icons-outlined">power_settings_new</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon class="material-icons-outlined">save_alt</mat-icon>
        </button>
      </div>
    </div>
    <div class="table-header__paginator" fxFlex>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Usuarios"
        class="table-header__paginator__buttons"
      >
      </mat-paginator>
    </div>
  </div>

  <table class="table" mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="selector">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
          [aria-label]="checkboxLabel()"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? rowSelected($event.checked, row) : null"
          [checked]="selection.isSelected(row)"
          [aria-label]="checkboxLabel(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Posicion Columna -->
    <ng-container matColumnDef="posicion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
      <td mat-cell *matCellDef="let element">{{ element.posicion }}</td>
    </ng-container>

    <!-- Nombre Columna -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
      <td mat-cell *matCellDef="let element">
        <strong>{{ element.nombre }}</strong>
      </td>
    </ng-container>

    <!-- Dependencia Columna -->
    <ng-container matColumnDef="dependencia">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Dependencia</th>
      <td mat-cell *matCellDef="let element">{{ element.dependencia }}</td>
    </ng-container>

    <!-- Compañia Columna -->
    <ng-container matColumnDef="compania">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Compañia</th>
      <td mat-cell *matCellDef="let element">{{ element.compania }}</td>
    </ng-container>

    <!-- Oficina Columna -->
    <ng-container matColumnDef="oficina">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Oficina</th>
      <td mat-cell *matCellDef="let element">{{ element.oficina }}</td>
    </ng-container>

    <!-- Correo Columna -->
    <ng-container matColumnDef="correo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Correo</th>
      <td mat-cell *matCellDef="let element">{{ element.correo }}</td>
    </ng-container>

    <!-- Registro Columna -->
    <ng-container matColumnDef="registro">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Registro</th>
      <td mat-cell *matCellDef="let element">{{ element.registro }}</td>
    </ng-container>

    <!-- Estatus Columna -->
    <ng-container matColumnDef="estatus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Estatus</th>
      <td mat-cell *matCellDef="let element">
        {{ element.estatus ? "Activo" : "Inactivo" }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
