<div class="header">
  <div
    class="header__title"
    fxLayout="row"
    fxLayoutAlign="space-around center"
  >
    <button mat-icon-button>
      <mat-icon class="material-icons-outlined">person_add</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon class="material-icons-outlined">assignment</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon class="material-icons-outlined">folder_delete</mat-icon>
    </button>
  </div>

  <div
    class="header__actions"
    fxLayout="column"
    fxLayoutAlign="space-between center"
  >
    <div class="header__actions__search" fxFlex="100" fxLayout="column">
      <div
        class="header__actions__search__header"
        fxLayout="row"
        fxLayoutAlign="space-between center"
      >
        <h4 class="mat-subheading-1">Buscar usuarios</h4>
        <h5 class="mat-subheading-2">
          <a class="cta">Todos los usuarios</a>
        </h5>
      </div>
      <div class="header__actions__search__form" fxLayout="column">
        <form [formGroup]="searchFormGroup">
          <mat-form-field appearance="fill" fxFlexFill>
            <mat-icon matPrefix>search</mat-icon>
            <mat-label> Buscar </mat-label>
            <input
              placeholder="Buscar "
              matInput
              formControlName="username"
              type="text"
              floatLabel="none"
              #searchUsername
            />
            <button
              (click)="searchUsername.value = 'clickMenu'"
              matSuffix
              mat-icon-button
            >
              <mat-icon>tune</mat-icon>
            </button>
          </mat-form-field>
        </form>
      </div>
    </div>
  </div>
</div>
