
<div class="container feedback">
    <mat-chip-list aria-label="Fish selection">
        <mat-chip color="primary" >label</mat-chip>
        <mat-chip color="primary" selected>label</mat-chip>
    </mat-chip-list>
    <br>
    <mat-chip-list aria-label="Fish selection">
        <mat-chip color="primary" > <mat-icon>imagen</mat-icon>label</mat-chip>
        <mat-chip color="primary" selected><mat-icon>imagen</mat-icon>label</mat-chip>
    </mat-chip-list>
    <br>
    <mat-chip-list aria-label="Fish selection">
        <mat-chip color="primary"> label <mat-icon>imagen</mat-icon></mat-chip>
        <mat-chip color="primary" selected>label <mat-icon>imagen</mat-icon></mat-chip>
    </mat-chip-list>
</div>