
<div class="light">
  <mat-toolbar fxShow="true" fxShow.gt-sm="false" *ngIf="showTableAction" class="container__navbar light" color="accent"  fxLayoutAlign.gt-sm="space-between center"  fxLayoutAlign.lt-md="space-between center" fxShow.lt-md="true" fxHide.gt-sm="true">
    <div (click)="back()" class="container__navbar__logo__table" fxLayout="row" fxLayoutAlign="center center" fxShow.lt-md="true" fxHide.gt-sm="true">
       <mat-icon fxFlexAlign="center center">
        chevron_left
       </mat-icon>
       <label for="selects">11</label>
    </div>
    <!-- <div class="container__navbar__title__table">
        <label for="section">11</label>
    </div> -->
  
    <div class="container__navbar__admin2" fxShow.lt-md="true" fxHide.gt-sm="true" fxLayoutAlign="space-between center">
        <button mat-icon-button class="container__navbar__admin__icons">
            <mat-icon  class="material-icons-outlined">
                visibility 
            </mat-icon>
        </button>
        <button mat-icon-button class="container__navbar__admin__icons">
            <mat-icon class="material-icons-outlined" >
                edit
            </mat-icon>
        </button>
        <button mat-icon-button class="container__navbar__admin__icons">
            <mat-icon class="material-icons-outlined">
                power_settings_new        
            </mat-icon>
        </button>
        <button mat-icon-button class="container__navbar__admin__icons">
            <mat-icon class="material-icons-outlined">
                file_download        
            </mat-icon>
        </button>
    </div>
  </mat-toolbar>
</div>
<div class="container users-admin mat-typography">
 
  <app-administration-header
    fxShow="true"
    fxShow.lt-md="false"
  ></app-administration-header>

  <app-administration-header-mobile
    fxShow="true"
    fxShow.gt-sm="false"
  ></app-administration-header-mobile>

  <mat-divider
    fxShow="true"
    fxShow.lt-md="false"
    class="border-divisor"
  ></mat-divider>

  <app-filter fxShow="true" fxShow.lt-md="false"></app-filter>
  <app-filter-mobile fxShow="true" fxShow.gt-sm="false"></app-filter-mobile>
</div>
<div class="table">
  <div class="container">
    <app-tabla-usuarios fxShow="true" fxShow.lt-md="false"></app-tabla-usuarios>
  </div>
  <app-tabla-usuarios-mobile
    fxShow="true"
    fxShow.gt-sm="false"
  ></app-tabla-usuarios-mobile>
</div>
