<div class="container users-admin mat-typography">
  <app-administration-header
    fxShow="true"
    fxShow.lt-md="false"
  ></app-administration-header>
  <app-administration-header-mobile
    fxShow="true"
    fxShow.gt-sm="false"
  ></app-administration-header-mobile>

  <mat-divider
    fxShow="true"
    fxShow.lt-md="false"
    class="border-divisor"
  ></mat-divider>

  <app-filter fxShow="true" fxShow.lt-md="false"></app-filter>
  <app-filter-mobile fxShow="true" fxShow.gt-sm="false"></app-filter-mobile>
</div>
<div class="table">
  <div class="container">
    <app-tabla-usuarios fxShow="true" fxShow.lt-md="false"></app-tabla-usuarios>
  </div>
  <app-tabla-usuarios-mobile
    fxShow="true"
    fxShow.gt-sm="false"
  ></app-tabla-usuarios-mobile>
</div>
