@use "@angular/material"as mat;
@import "~@angular/material/theming";
@import "./custom-palette.scss";
@include mat.core();

$primary: mat.define-palette(mat.$orange-palette, 500);
$accent: mat.define-palette(mat.$red-palette, A200, A100, A400);
$warn: mat.define-palette(mat.$yellow-palette);
$typography: mat.define-typography-config($font-family: "Quicksand",
);

$my-theme: mat.define-light-theme((color: (primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
    typography: $typography,
  ));

@include mat.all-component-themes($my-theme);

// COLORS
$color-brand: #f07f13 !default;
$color-citrus: #e9780b !default;
$color-warning: #ffd631 !default;
$color-fresh-berry: #b10231 !default;
$color-error: #cc0000 !default;
$color-sea: #3366cc !default;
$color-sky: #fef3df !default;
$color-emerald: #3399cc !default;
$color-carbon5: #f5f5f5 !default;
$color-carbon10: #ebebeb !default;
$color-carbon20: #a7a7a7 !default;
$color-carbon40: #919191 !default;
$color-carbon60: #666666 !default;
$color-carbon64: rgba(0, 0, 0, 0.64) !default;
$color-carbon100: #000000 !default;
$color-cloud: #ffffff !default;
$color-cloud54: rgba(255, 255, 255, 0.64) !default;
$color-success: #339966 !default;


// clase general para los bages de los icons

.mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content {
  right: -3px;
}
.mat-badge-medium.mat-badge-above .mat-badge-content {
  top: -9px;
}

.primary {
  $alternate-primary: mat.define-palette($custom-palette, brand);
  $alternate-accent: mat.define-palette($custom-palette, sea);
  $alternate-warn: mat.define-palette($custom-palette, sky);

  $alternate-theme: mat-light-theme($alternate-primary,
      $alternate-accent,
      $alternate-warn);
  @include angular-material-theme($alternate-theme);

  .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline {
    // color: mat-color($alternate-primary) !important;;
    opacity: 0.1 !important;
    background-color: $color-carbon40;
    border-radius: 7px;
  }

  .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
    color: $color-error !important;
  }

  .mat-error {
    color: $color-error !important;
  }

  .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
    color: $color-error !important;
  }

  .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: $color-error;
  }

  .mat-flat-button,
  .mat-raised-button,
  .mat-fab,
  .mat-mini-fab {
    color: $color-cloud !important;
    border-radius: 20px;
    padding: 0 5%;
  }

  .mat-flat-button:hover,
  .mat-raised-button:hover,
  .mat-fab:hover,
  .mat-mini-fab:hover {
    background-color: $color-citrus !important;
  }

  .mat-raised-button.mat-primary.mat-button-disabled,
  .mat-raised-button.mat-button-disabled.mat-button-disabled {
    background-color: $color-carbon10;
    color: $color-carbon20 !important;
  }

  .mat-raised-button.mat-primary.mat-button-disabled:hover,
  .mat-raised-button.mat-button-disabled.mat-button-disabled:hover {
    background-color: $color-carbon10 !important;
    color: $color-carbon20 !important;
  }

  .mat-icon-button {
    background-color: mat-color($alternate-primary) !important;
    color: $color-cloud;
  }

  .gray .mat-icon-button {
    background-color: $color-carbon10 !important;
    color: $color-cloud !important;
  }

  .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
    width: 1.5em !important;
    height: 1.5em !important;
  }

  .mat-icon-button.mat-button-disabled.mat-button-disabled {
    background-color: $color-carbon10 !important;
    color: $color-carbon20 !important;
  }

  .mat-radio-button.mat-radio-disabled .mat-radio-outer-circle {
    background-color: $color-carbon10 !important;
  }

  .mat-radio-button.mat-radio-disabled.mat-radio-checked .mat-radio-outer-circle {
    border-color: mat-color($alternate-primary) !important;
    opacity: 0.6 !important;
  }

  .mat-radio-button.mat-radio-disabled .mat-radio-inner-circle {
    background-color: mat-color($alternate-primary) !important;
    opacity: 0.6 !important;
  }

  .mat-checkbox-disabled.mat-checkbox-checked .mat-checkbox-background {
    background-color: mat-color($alternate-primary) !important;
    border-color: mat-color($alternate-primary) !important;
    opacity: 0.6 !important;
  }

  .mat-checkbox-disabled.mat-uncheckbox-checked .mat-checkbox-background {
    background-color: red !important;
  }

  .mat-chip.mat-standard-chip {
    color: $color-cloud !important;
  }

  .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button .mat-icon {
    color: $color-cloud;
    // width: 2em;
    // height: 2em;
  }

}

.big-button {
  $alternate-primary: mat.define-palette($custom-palette, brand);
  $alternate-accent: mat.define-palette($custom-palette, sea);
  $alternate-warn: mat.define-palette($custom-palette, sky);

  $alternate-theme: mat-light-theme($alternate-primary,
      $alternate-accent,
      $alternate-warn);
  @include angular-material-theme($alternate-theme);

  .mat-raised-button {
    background-color: mat-color($alternate-primary) !important;
    color: $color-cloud !important;
    padding: 10px 30px !important;
  }

  .mat-raised-button-disabled {
    background-color: mat-color($alternate-primary) !important;
    color: $color-cloud !important;
    padding: 10px 30px !important;
  }

  .mat-flat-button:hover,
  .mat-raised-button:hover,
  .mat-fab:hover,
  .mat-mini-fab:hover {
    background-color: $color-citrus !important;
  }

  .mat-raised-button.mat-button-disabled.mat-button-disabled {
    background-color: $color-carbon10 !important;
    color: $color-carbon20 !important;
  }
}

.secondary {
  $alternate-primary: mat.define-palette($custom-palette, cloud);
  $alternate-accent: mat.define-palette($custom-palette, carbon20);
  $alternate-warn: mat.define-palette($custom-palette, carbon40);

  $alternate-theme: mat-light-theme($alternate-primary,
      $alternate-accent,
      $alternate-warn);
  @include angular-material-theme($alternate-theme);

  .mat-flat-button,
  .mat-raised-button,
  .mat-fab,
  .mat-mini-fab {
    background-color: $color-cloud !important;
    color: $color-carbon40 !important;
    border: 1px solid $color-carbon40 !important;
    border-radius: 20px;
    padding: 0 5%;
  }

  .mat-flat-button:hover,
  .mat-raised-button:hover,
  .mat-fab:hover,
  .mat-mini-fab:hover {
    background-color: $color-carbon20 !important;
    color: $color-cloud !important;
    border: 1px solid $color-carbon40 !important;
  }

  .mat-raised-button.mat-primary.mat-button-disabled,
  .mat-raised-button.mat-button-disabled.mat-button-disabled {
    background-color: $color-cloud !important;
    color: $color-carbon20 !important;
    border: 1px solid $color-carbon20 !important;
    opacity: 0.5;
  }

  .mat-raised-button.mat-primary.mat-button-disabled:hover,
  .mat-raised-button.mat-button-disabled.mat-button-disabled:hover {
    background-color: $color-cloud !important;
    color: $color-carbon20 !important;
    border: 1px solid $color-carbon20 !important;
    opacity: 0.5;
  }
}

.delete {
  $alternate-primary: mat.define-palette($custom-palette, error);
  $alternate-accent: mat.define-palette($custom-palette, error);
  $alternate-warn: mat.define-palette($custom-palette, fresh-berry);

  $alternate-theme: mat-light-theme($alternate-primary,
      $alternate-accent,
      $alternate-warn);

  @include angular-material-theme($alternate-theme);

  .mat-flat-button,
  .mat-raised-button,
  .mat-fab,
  .mat-mini-fab {
    background-color: $color-error !important;
    color: $color-cloud !important;
    border-radius: 20px;
    padding: 0 5%;
  }

  .mat-flat-button:hover,
  .mat-raised-button:hover,
  .mat-fab:hover,
  .mat-mini-fab:hover {
    background-color: $color-fresh-berry !important;
    color: $color-cloud !important;
  }

  .mat-raised-button.mat-primary.mat-button-disabled,
  .mat-raised-button.mat-button-disabled.mat-button-disabled {
    background-color: $color-carbon10 !important;
    color: $color-carbon20 !important;
  }

  .mat-raised-button.mat-primary.mat-button-disabled:hover,
  .mat-raised-button.mat-button-disabled.mat-button-disabled:hover {
    background-color: $color-carbon10 !important;
    color: $color-carbon20 !important;
  }

  .mat-badge-content {
    color: $color-cloud !important;
  }
}

.accent {
  $alternate-primary: mat.define-palette($custom-palette, emerald);
  $alternate-accent: mat.define-palette($custom-palette, citrus);
  $alternate-warn: mat.define-palette($custom-palette, fresh-berry);

  $alternate-theme: mat-light-theme($alternate-primary,
      $alternate-accent,
      $alternate-warn);
  @include angular-material-theme($alternate-theme);

  .mat-checkbox-disabled.mat-checkbox-checked .mat-checkbox-background {
    background-color: mat-color($alternate-primary) !important;
    opacity: 0.5 !important;
  }

  .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline {
    color: mat-color($alternate-primary) !important;
    opacity: 0.2 I !important;
  }
}

.feedback {
  $alternate-primary: mat.define-palette($custom-palette, success);
  $alternate-accent: mat.define-palette($custom-palette, error);
  $alternate-warn: mat.define-palette($custom-palette, warning);

  $alternate-theme: mat-light-theme($alternate-primary,
      $alternate-accent,
      $alternate-warn);
  @include angular-material-theme($alternate-theme);

  .mat-checkbox-disabled.mat-checkbox-checked .mat-checkbox-background {
    background-color: mat-color($alternate-primary) !important;
    opacity: 0.5 !important;
  }

  .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline {
    color: mat-color($alternate-primary) !important;
    opacity: 0.1 !important;
  }

  .mat-chip.mat-standard-chip {
    background-color: $color-carbon40;
    color: $color-cloud !important;
  }
}

.light {
  $alternate-primary: mat.define-palette($custom-palette, cloud);
  $alternate-accent: mat.define-palette($custom-palette, cloud54);
  $alternate-warn: mat.define-palette($custom-palette, fresh-berry);

  $alternate-theme: mat-light-theme($alternate-primary,
      $alternate-accent,
      $alternate-warn);
  @include angular-material-theme($alternate-theme);

  .mat-toolbar {
    margin: 0;
    box-shadow: 0 4px 6px -6px #222;
  }

  .mat-badge-content {
    color: $color-cloud;
  }

  .mat-icon {
    padding-right: 5px;
  }
}

// ==============================================================================
.users-admin {
  $users-primary: mat.define-palette($custom-palette, brand);
  $users-accent: mat.define-palette($custom-palette, sea);
  $users-warn: mat.define-palette($custom-palette, error);
  $users-typography: mat.define-typography-config($font-family: "Quicksand",
    );

  $users-theme: mat.define-light-theme((color: (primary: $users-primary,
          accent: $users-accent,
          warn: $users-warn,
        ),
        typography: $users-typography,
      ));
  @include angular-material-theme($users-theme);

  .mat-title {
    color: $color-carbon100;
    font-size: 32px;
    font-family: Quicksand;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 24px;
  }

  .mat-subheading-1 {
    color: $color-carbon100;
    font-size: 16px;
    font-family: Quicksand;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin: 0;
  }

  .mat-subheading-2 {
    color: $color-sea;
    font-size: 14px;
    font-family: Quicksand;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 1.2px;
    margin: 0;
  }

  .cta {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    cursor: pointer;
  }

  .mat-raised-button:not([class*="mat-elevation-z"]) {
    box-shadow: 0px 4px 8px -2px rgba(0, 0, 0, 0.14);
  }

  .mat-raised-button {
    color: $color-carbon60;
  }

  .mat-icon-button {
    color: $color-carbon20;
  }

  .filter-text {
    color: $color-carbon60;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.2px;
    padding: 0;
  }

  .mat-divider {
    border: 1px dashed $color-carbon20;
    margin: 20px 0;
  }

  .mat-chip.mat-standard-chip {
    background-color: $color-carbon40;
    color: $color-cloud;
    font-family: Quicksand;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }

  .mat-form-field-underline {
    width: 0;
  }

  .mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 8px;
  }
}

// ==============================================================================

.table-admin {
  $table-primary: mat.define-palette($custom-palette, brand);
  $table-accent: mat.define-palette($custom-palette, sea);
  $table-warn: mat.define-palette($custom-palette, error);
  $table-typography: mat.define-typography-config($font-family: "Quicksand",
    );

  $table-theme: mat.define-light-theme((color: (primary: $table-primary,
          accent: $table-accent,
          warn: $table-warn,
        ),
        typography: $table-typography,
      ));
  @include angular-material-theme($table-theme);

  .mat-header-row.cdk-header-row.ng-star-inserted {
    background-color: $color-sky;
    color: $color-carbon60;
  }

  .mat-row.cdk-row.ng-star-inserted:nth-child(2n + 2) {
    background-color: $color-carbon5;
  }

  .mat-header-row>.cdk-column-selector>.mat-checkbox {
    transform: translateY(-250%);
  }

  @media screen and (max-width:420px) {

    .mat-paginator-page-size.ng-star-inserted {
      transform: translateY(-150%);
    }
  }
  .mat-card:not([class*=mat-elevation-z]){
    box-shadow: none;
  }
  .card-carbon10{
    display: inline-block;
    background-color: $color-carbon10;
    border-radius: 4px;
    width: 22px;
    height: 22px;
    color: $color-carbon100;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
  }
  .mat-card-title{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: $color-carbon60;
    margin-top: 16px;
  }
  .mat-card-subtitle{
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 0.2px;
    color: $color-carbon100;
  }
}
