.container{
    width: 50%;
    margin: 0 auto;
    border: 1px solid gray;
    margin-top: 2%;
    text-align: center;
}

.example-form {
    width: 70%;
    margin: 0 auto;
  }
  
  .example-full-width {
    width: 100%;
  }
  