<div class="container">
  <h2>Components</h2>
  <ul>
    <li> <a routerLink="/inputs-text"> inputs text</a> </li>
    <li><a routerLink="/select"> select</a> </li>
    <li> <a routerLink="/buttons"> buttons</a> </li>
    <li> <a routerLink="/radio"> radio buttons</a> </li>
    <li><a routerLink="/slide">switch</a></li>
    <li><a routerLink="/chips">chips</a></li>
    <li><a routerLink="/badges"> badges</a></li>
    <li><a routerLink="/autocomplete">autocomplete</a></li>
    <li><a routerLink="/search">search</a></li>
    <li><a routerLink="/administracion">gestor</a></li>
    <li><a routerLink="/inicio">inicio</a></li>
    <li></li>
    <li></li>
  </ul>
</div>