<div class="container">
  <h2>Components</h2>
  <ul>
    <li> <a routerLink="/inputs-text"> inputs text</a> </li>
    <li><a routerLink="/select"> select</a> </li>
    <li> <a routerLink="/buttons"> buttons</a> </li>
    <li> <a routerLink="/radio"> radio buttons</a> </li>
    <li><a routerLink="/slide">switch</a></li>
    <li><a routerLink="/chips">chips</a></li>
    <li><a routerLink="/badges"> badges</a></li>
    <li><a routerLink="/autocomplete">autocomplete</a></li>
    <li></li>
    <li></li>
  </ul>
</div>

<!-- <div class="container feedback">
    <div>
      <br>
      <mat-form-field  appearance="outline" [hideRequiredMarker]="false">
        <mat-label>Name</mat-label>
        <input type="text" class="accent" color="accent" matInput placeholder="Enter your name" autofocus>
      </mat-form-field>
      <br>
      <mat-form-field  appearance="outline" [hideRequiredMarker]="false">
        <mat-label>Lastname</mat-label>
        <input type="text" [disabled]="activate" class="" matInput placeholder="Enter your name" autofocus>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix>visibility</mat-icon>
    </mat-form-field>

    <br>
    <mat-radio-group class="feedback" aria-label="Select an option">
      <mat-radio-button class="feedback" color="primary" value="1">Option 1</mat-radio-button>
      <mat-radio-button class="feedback" color="warn" value="2">Option 2</mat-radio-button>
    </mat-radio-group>
    </div>
    <br>
    <app-stepper></app-stepper>
  </div>
  <div class="container primary">
    <mat-checkbox [disabled]="activate" [checked]="true" class="" color="primary">Check me!</mat-checkbox>
  </div> -->

