

<mat-toolbar *ngIf="mostrarMenuRestante" class="contenedor__navbar__menu2__responsive" fxLayout="column">
    <div class="options__container__responsive">
      <ul fxLayout="row" fxLayoutAlign="space-around end" >
          <li routerLinkActive="active">
              <a [routerLink]='["/s"]'  fxLayout="column" fxLayoutAlign="center center">
                  <mat-icon class="material-icons-outlined">
                    search
                </mat-icon>
                <span>Buscar</span>

              </a>
          </li>
          <li routerLinkActive="active">
              <a [routerLink]='["/s"]'   fxLayout="column" fxLayoutAlign="center center">
                  <mat-icon class="material-icons-outlined">notifications</mat-icon>
                <span>avisos</span>

              </a>
          </li>
          <li routerLinkActive="active" >
              <a [routerLink]='["/s"]' fxLayout="column" fxLayoutAlign="center center">
                  <mat-icon class="material-icons-outlined">logout</mat-icon>
                <span>salir</span>

              </a>
          </li>


          <li class="boton__cerrar" routerLinkActive="active" fxLayout="row" fxLayoutAlign="center center">
              <a (click)="ocultarOpcionesRestantes()" fxLayout="row" fxLayoutAlign="center center">
                  <mat-icon>close</mat-icon>
                  <mat-label>cerrar</mat-label>
              </a>
          </li>
      </ul>
  </div>
</mat-toolbar>


<mat-toolbar class="contenedor__navbar__responsive" fxLayout="column">
 
    <div class="options__container__responsive">
      <ul fxLayout="row" fxLayoutAlign="space-around center" >
          <li routerLinkActive="active">
              <a [routerLink]='["/inputs"]' fxLayout="column">
                  <mat-icon class="material-icons-outlined">
                    home
                </mat-icon>
                <span>Inicio</span>
              </a>
          </li>
          <li routerLinkActive="active">
              <a [routerLink]='["/select"]'   fxLayout="column" fxLayoutAlign="center center">
                  <mat-icon>manage_search</mat-icon>
                    <span>Consultas</span>
              </a>
          </li>
          <li routerLinkActive="active">
              <a [routerLink]='["/autocomplete"]' fxLayout="column" fxLayoutAlign="center center">
                  <mat-icon>upload_file</mat-icon>
                    <span>Lotes</span>
              </a>
          </li>
          <li routerLinkActive="active">
              <a [routerLink]='["/chips"]' fxLayout="column" fxLayoutAlign="center center" >
                  <mat-icon>bar_chart</mat-icon>
                <span>Reportes</span>

              </a>
          </li>
          <li routerLinkActive="active">
              <a [routerLink]='["/administracion"]'  fxLayout="column" fxLayoutAlign="center center">
                  <mat-icon class="material-icons-outlined">settings</mat-icon>
                  <!-- <mat-label>Admin</mat-label> -->
                <span>Admin</span>

              </a>
              <div *ngIf="mostrarMenuRestante">

              </div>

          </li>
          <li routerLinkActive="active">
              <a (click)="mostrarOpcionesRestantes()" fxLayout="column" fxLayoutAlign="center center">
                  <mat-icon>more_vert</mat-icon>
                <span>Más</span>

              </a>

          </li>
      </ul>
  </div>
</mat-toolbar>
